// Responsive Screen Sizes
$ss-xs-max: 767px;
$ss-sm-min: 768px;
$ss-sm-max: 991px;
$ss-md-min: 992px;
$ss-md-max: 1199px;
$ss-lg-min: 1200px;

// Navbar
$navbar-height: 40px;

// Sidebar
$sidebar-open-speed: 0.5s;

// Colors
$color-main-lighter: #999999;
$color-main-light: #777777;
$color-gray: #555555;
$color-gray-dark: #333333;
$color-gray-darker: #111111;
$color-accent: #6e8898;
$color-primary: #533a7b;
$color-secondary: #a393bf;
$color-links: #f4d35e;
